{% extends 'base.html.twig' %}

{% block title %}: Privacy Policy{% endblock %}
{% block page_class %}{% endblock %}

{% block body %}

    <h1>Privacy Policy</h1>

    <p><span>MyTABATA (the "App") is committed to protecting the privacy of its users. This Privacy Policy explains how we collect, use, and disclose personal information that we receive from users of the App.</span></p>

    <h5>Information We Collect</h5>

    <p><span>We may collect personal information about you when you use the App. This may include:</span></p>
    <ul>
        <li><span>Your name and email address, if you choose to provide them when signing up for an account or contacting us for support.</span></li>
        <li><span>Information about your fitness activities, such as your workout routines and exercises.</span></li>
        <li><span>Information about your device and how you use the App, such as your IP address, browser type, and operating system.</span></li>
        <li><span>We may also collect information that does not identify you personally, such as aggregated usage data, which we may use to improve the App's performance and features.</span></li>
    </ul>

    <h5>How We Use Your Information</h5>

    <p><span>We may use the personal information we collect to:</span></p>
    <ul>
        <li><span>Provide and improve the App's features and services.</span></li>
        <li><span>Communicate with you about the App and respond to your inquiries and requests.</span></li>
        <li><span>Personalize your experience with the App by providing content and recommendations tailored to your fitness goals and preferences.</span></li>
        <li><span>Analyze usage trends and improve the performance and functionality of the App.</span></li>
        <li><span>Enforce our Terms of Service and protect our rights and property.</span></li>
        <li><span>We may also use your personal information for other purposes that are disclosed to you at the time we collect the information, or with your consent.</span></li>
    </ul>

    <h5>How We Share Your Information</h5>

    <p><span>We may share your personal information with third-party service providers who help us operate the App and provide our services. These providers may have access to your personal information only to perform services on our behalf, and they are obligated not to disclose or use it for any other purpose.</span></p>
    <p><span>We may also share your personal information if we believe it is necessary to comply with a legal obligation, protect our rights or property, or enforce our Terms of Service.</span></p>
    <p><span>In the event of a merger, acquisition, or sale of all or a portion of our assets, we may transfer your personal information to the acquiring entity.</span></p>

    <h5>Your Choices</h5>

    <p><span>You may choose not to provide certain personal information, but this may limit your ability to use certain features of the App.</span></p>

    <p><span>You may also opt-out of receiving promotional emails from us by following the unsubscribe instructions in the email.</span></p>

    <h5>Data Retention</h5>

    <p><span>We will retain your personal information for as long as necessary to provide the services you have requested or for other essential purposes such as complying with our legal obligations, resolving disputes, and enforcing our agreements.</span></p>

    <h5>Security</h5>

    <p><span>We take reasonable measures to protect your personal information from unauthorized access, disclosure, or destruction. However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, we cannot guarantee its absolute security.</span></p>

    <h5>Changes to this Policy</h5>

    <p><span>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</span></p>

    <h5>Contact Us</h5>

    <p><span>If you have any questions or concerns about this Privacy Policy, please contact us at support@mytabata.app.</span></p>

    <h5>Effective Date</h5>

    <p><span>This Privacy Policy is effective as of April 10th, 2023.</span></p>

{% endblock %}

{% block scripts %}{% endblock %}