{% extends 'base.html.twig' %}

{% block title %}: Register{% endblock %}
{% block page_class %}register{% endblock %}

{% block body %}

    <div class="register-bg">

        <img src="/Assets/app/splash/web-register.jpg?v=2" class="w-100 d-block d-sm-none" />
        <img src="/Assets/app/splash/web-register-wide.jpg" class="w-100 d-none d-sm-block" />

        <div class="row register-form-row">
            <div class="col-sm-5 d-none d-sm-block">

                <div class="register-form ps-5">
                    <h1 class="mb-5" style="font-size: 40px;">MyTABATA</h1>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; HIIT / Tabata Timer</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; Routine Generator</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; Customize Routines</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; 100% Free</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; No Ads</p>
                    <p class="fs-5 mb-3"><i class="fa-solid fa-check color-red-dark"></i> &nbsp; Light / Dark Mode</p>
                </div>

            </div>
            <div class="col-12 col-sm-4">

                <div class="register-form">
                    <h1 class="text-center text-md-start d-block d-sm-none">REGISTER</h1>
                    <h1 class="mb-1 d-none d-sm-block" style="font-size: 40px;">REGISTER</h1>

                    <p class="text-center text-md-start">Creating an account is free and we never sell your information!</p>

                    <form method="post">
                        <div class="pb-2 px-5 px-md-0 pt-0 mt-0 ">

                            {% if hasError %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endif %}

                            <div class="input-style has-borders has-icon mb-4">
                                <i class="fa fa-user text-dark"></i>
                                <input type="text" name="name" value="" class="form-control user-name fs-6" id="form1" placeholder="Name">
                                <i class="fa fa-times disabled invalid color-red-dark"></i>
                                <i class="fa fa-check disabled valid color-green-dark"></i>
                            </div>

                            <div class="input-style has-borders has-icon mb-4">
                                <i class="fa-solid fa-envelope text-dark"></i>
                                <input type="email" name="email" value="" class="form-control user-email fs-6" id="form2" placeholder="Email">
                                <i class="fa fa-times disabled invalid color-red-dark"></i>
                                <i class="fa fa-check disabled valid color-green-dark"></i>
                            </div>

                            <div class="input-style has-borders has-icon mb-4">
                                <i class="fa-solid fa-key text-dark"></i>
                                <input type="password" name="password" class="form-control user-password fs-6" id="form3" placeholder="Password">
                                <i class="fa fa-times disabled invalid color-red-dark"></i>
                                <i class="fa fa-check disabled valid color-green-dark"></i>
                            </div>

                            <div class="pb-3 text-center text-md-start">
                                <input type="submit" name="register" class="btn btn-dark save-account fs-6 px-5 rounded pt-2 d-none d-sm-block" value="CREATE ACCOUNT" />
                                <input type="submit" name="register" class="btn btn-primary save-account fs-6 rounded pt-2 d-block d-sm-none mx-auto" value="CREATE ACCOUNT" />
                            </div>

                        </div>
                    </form>

                    <div class="d-none d-sm-block">
                        <p class="text-center text-md-start"><span>Already have an account? <a href="/login" class="color-red-dark">Login</a></span></p>
                    </div>
                    <div class="d-block d-sm-none">
                        <p class="text-center text-md-start"><span>Already have an account? <a href="/login" class="text-warning">Login</a></span></p>
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}{% endblock %}